@model IEnumerable<eProject3_Jamesthew.Models.article>

@{
    ViewBag.Title = "PostList";
}

@{
    Layout = "~/Views/Shared/_PostLayoutPage.cshtml";
}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@Url.Content("~/images/bg-img/breadcumb2.jpg"));">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Manage Recipe - TIP</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcumb-text text-center"><br />
        @Html.ActionLink("Add new recipe", "PostProduct", new { content_type = "Recipe" }) |
        @Html.ActionLink("Add new tip", "PostProduct", new { content_type = "Tip" })
</div>
<br />
<table class="table receipe-content-area col-12 col-md-8">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPost", new { id = item.id })
            </td>
        </tr>
    }
</table>
<br />
