@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_PostLayoutPage.cshtml";
}

<!-- ##### CTA Area Start ##### -->
<section class="cta-area bg-img bg-overlay" style="background-image: url(@Url.Content("~/images/bg-img/bg1.jpg"));">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content text-center">
                    <h2>Gluten Free Receipies</h2>
                    <p>Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### CTA Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area top-catagory-area section-padding-80-0">
    <div class="container h-100">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="section-heading">
                        <h3>The best Receipies</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r1.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Sushi Easy Receipy", "Filter", "Content", new { type = 12 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r2.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Home Buger", "Filter", "Content", new { type = 8 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r3.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Vegan Smoothie", "Filter", "Content", new { type = 11 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r4.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Calabasa soup", "Filter", "Content", new { type = 13 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r5.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Homemade Breakfast", "Filter", "Content", new { type = 10 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="@Url.Content("~/images/bg-img/r6.jpg")" alt="">
                    <div class="receipe-content">
                        <h5>@Html.ActionLink("Healthy Fruit Desert", "Filter", "Content", new { type = 14 }, null)</h5>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Best Receipe Area End ##### -->