@model eProject3_Jamesthew.Models.article

@{
    ViewBag.Title = "PostProduct";
}

@{
    Layout = "~/Views/Shared/_PostLayoutPage.cshtml";
}

<h2>Post New @ViewBag._content_type</h2>


@using (Html.BeginForm("PostProduct", "customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="receipe-content-area">
    <div>@Html.ValidationSummary()</div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row col-12 col-md-8">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-2 col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-12 col-md-8">
        @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-2 col-md-10">
            @Html.EditorFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-12 col-md-8">
        @Html.LabelFor(model => model.excerpt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-2 col-md-10">
            @Html.EditorFor(model => model.excerpt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.excerpt, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.TextBoxFor(model => model.content_type, new { style = "display:none" })

    <div class="row col-12 col-md-8">
        @Html.LabelFor(model => model.created_by, "created_by", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-2 col-md-10">
            @Html.DropDownList("created_by", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.created_by, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (@ViewBag._content_type == "Recipe" || @ViewBag._content_type == "Tip")
    {

        <div class="row col-12 col-md-8">
            @Html.LabelFor(model => model.taxonomies, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                @Html.ListBox("_taxonomies_category", ViewBag._taxonomies_category as MultiSelectList, new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => model.taxonomies, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-12 col-md-8">
            @Html.LabelFor(model => model.taxonomies, "Tags", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                @Html.ListBox("_taxonomies", ViewBag._taxonomies as MultiSelectList, new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => model.taxonomies, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("_premium", false)

        <div class="row col-12 col-md-8">
            @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBox("ImageFile", null, new { type = "file" })<br />
                @Html.ValidationMessageFor(model => model.article_meta)
            </div>
        </div>
    }

    <div class="row col-12 col-md-8">
        <div class="col-md-offset-2 col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div class="row col-12 col-md-8">
        <div class="col-md-offset-2 col-md-offset-2 col-md-10">
            @Html.ActionLink("Back to list", "PostList", new { type = User.Identity.Name }, null)
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
