<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title - JamesThew</title>
    @Styles.Render("~/Content/csbootrap")
    @Styles.Render("~/Content/font")
    @Styles.Render("~/Content/cscss")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("index","Home")" class="site_title"><i class="fa fa-paw"></i> <span>JamesThew.Com</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@Url.Content("~/images/img.jpg")" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Html.Encode(User.Identity.Name)</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <!--<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu">
                                    <li><a href="index.html">Dashboard</a></li>
                                    <li><a href="index2.html">Dashboard2</a></li>
                                    <li><a href="index3.html">Dashboard3</a></li>
                                  </ul>
                                </li>-->
                                <li>
                                    <a><i class="fa fa-edit"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new users", "create", "user")</li>
                                        <li>@Html.ActionLink("All users", "index", "user")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Payment <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("All payment", "index", "payments")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Membership Package <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new package", "create", "package")</li>
                                        <li>@Html.ActionLink("All package", "index", "package")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Material (tags)<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new material", "create", "taxonomies", new { content_type = "Material" }, null)</li>
                                        <li>@Html.ActionLink("All material", "index", "taxonomies", new { content_type = "Material" }, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Category <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new category", "create", "taxonomies", new { content_type = "Category" }, null)</li>
                                        <li>@Html.ActionLink("All category", "index", "taxonomies", new { content_type = "Category" }, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Receipe - Tip <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new recipe", "create", "articles", new { content_type = "Recipe" }, null)</li>
                                        <li>@Html.ActionLink("All recipe", "index", "articles", new { content_type = "Recipe" }, null)</li>
                                        <li>@Html.ActionLink("Add new tip", "create", "articles", new { content_type = "Tip" }, null)</li>
                                        <li>@Html.ActionLink("All tip", "index", "articles", new { content_type = "Tip" }, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Feedback <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new feedback", "create", "feedbacks")</li>
                                        <li>@Html.ActionLink("All feedback", "index", "feedbacks")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Contest <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new contest", "create", "taxonomies", new { content_type = "Contest" }, null)</li>
                                        <li>@Html.ActionLink("All contest", "index", "taxonomies", new { content_type = "Contest" }, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Announcement <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new announcement", "create", "articles", new { content_type = "Announcement" }, null)</li>
                                        <li>@Html.ActionLink("All announcement", "index", "articles", new { content_type = "Announcement" }, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>FAQ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Add new faq", "create", "articles", new { content_type = "FAQ" }, null)</li>
                                        <li>@Html.ActionLink("All faq", "index", "articles", new { content_type = "FAQ" }, null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@Url.Content("~/images/img.jpg")">@Html.Encode(User.Identity.Name)
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>@Html.ActionLink("Sign Out", "Logout", "Login")</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">@RenderBody()</div>
            <footer>
                <div class="pull-right">
                    <a href="#">Jamesthew.Com</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
