@model eProject3_Jamesthew.Models.user

@{
    ViewBag.Title = "Create";
}

@{
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <span class="login100-form-title">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
                    <input class="input100" type="password" name="_password" placeholder="Password">
                    @Html.ValidationMessageFor(model => model._password, "", new { @class = "text-danger" })
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
                    <input class="input100" type="email" name="email" placeholder="Email">
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn text-right p-t-13 p-b-23">
                    <button class="login100-form-btn" type="submit">
                        Sign up
                    </button>
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">
                    </span>
                    @Html.ActionLink("Back to home", "Index", "Home", new { area = "" }, new { @class = "txt3" })
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
