@model IEnumerable<eProject3_Jamesthew.Models.article>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>@ViewBag._index_content_type</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.excerpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.published_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.excerpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.published_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
